<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>설문 조사 페이지</title>
    {% load static %}
    <link rel="stylesheet" href="{%static 'poll/css/style.css' %}">
    <link rel="stylesheet" href="{%static 'poll/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'board/css/style.css/' %}">
</head>
<body>
{% include 'navbar.html' %}
<div id="container">
    <h2>설문조사에 응해주시기 바랍니다.</h2>
    <div class="card">
        <div class="card-body">
            <section>
                {% if question_list %}
                <ul>
                    {% for question in question_list %}
                    <li>
                        <h4>
                            <a href="{% url 'poll:detail' question.id %}" class="badge badge-success">
                            {{ question.question_text }}</a>
                        </h4>
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                    <p>설문이 없습니다.</p>
                {% endif %}
            </section>
        </div>
    </div>
    <div class="question_form"></div>
</div>
{% include 'footer.html' %}
</body>
</html>
